.colonne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stars {
    width: 100px;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}